<a href="https://colab.research.google.com/github/aniqamirul/aiml/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("Nexperts","Academy","Kuala Lumpur",sep='ðŸ˜¼')

NexpertsðŸ˜¼AcademyðŸ˜¼Kuala Lumpur

In [ ]:
age = 23
print(age)

name = 'John'
print(name)

23
John

In [2]:
# int data type : used to store numerical values [positive / negative]
age = 10
print(age)

# type(varname) used to determine the data type of a Variable

type(age)

10

int

In [4]:
name = 'aezo'
print(type(name))

percentage = 90.21
print(type(percentage))

myChoice = True
print(type(myChoice))

<class 'str'>
<class 'float'>
<class 'bool'>

In [6]:
# Strings
# Indexing and Slicing
# Raw Strings
# Character Escape Sequence
# String Concatenation and Formatting

# A STRING IS A COLLECTION OF CHARACTERS
# IN PYTHON WE CAN DEFINE STRING IN SINGLE ' '  DOUBLE " "
# STRING USED TO STORE TEXT BASED DATA

str1 = 'Python'
str2 = "Programming"

print(type(str1) , type(str2))

<class 'str'> <class 'str'>

In [7]:
course = "Python"
# P   y     t     h      o      n
# 0   1     2     3      4      5

# python provides index numbers to each and every character
# index no. always starts with a ZERO

# Indexing allows us to get only one Single Value
# in python indexing uses [] notation

print(course)
print(course[3])  # Indexing
print(course[0])  # Indexing

Python
h
P

In [12]:
text1 = "Python Is Fun To Learn"

print(text1[7])
print(text1[18])
print(text1[1])
print(text1[14])
print(text1[6])

I
e
y
T

In [13]:
for i in enumerate(text1):
  print(i)

(0, 'P')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')
(6, ' ')
(7, 'I')
(8, 's')
(9, ' ')
(10, 'F')
(11, 'u')
(12, 'n')
(13, ' ')
(14, 'T')
(15, 'o')
(16, ' ')
(17, 'L')
(18, 'e')
(19, 'a')
(20, 'r')
(21, 'n')

In [14]:
course = "Python"

#  P   y   t   h   o   n
#  0   1   2   3   4   5   â†’ Positive / Forward Indexing
# -6  -5  -4  -3  -2  -1   â†’ Negative / Backward Indexing

# Python provides index numbers to each character
# Index number always starts from 0
# Indexing allows us to get only one single value
# Python uses [] notation for indexing

print(course)        # Prints the whole string
print(course[3])     # Indexing â†’ returns 'h'
print(course[0])     # Indexing â†’ returns 'P'
print(course[-5])    # Negative indexing â†’ returns 'y'

Python
h
P
y

In [16]:
course = 'PythonProgramming'

print(course)
print(course[6:13])

print(course[9:13])
print(course[4:9])
print(course[0:9])

PythonProgramming
Program
gram
onPro
PythonPro

In [18]:
# Every 2 steps in [6:13:2] , course
print(course[6:13:2])

Porm

In [19]:
course = "PythonProgramming"
print(course[::-1])

gnimmargorPnohtyP

In [21]:
# Raw Strings
print(r"C:\newfolder\test\abc.txt")

C:\newfolder\test\abc.txt

In [22]:
# Character Escape Sequence

print('I didn\'t do that. Mr John\'s son did that')

print("Welcome to \"Nexperts\" Academy")

I didn't do that. Mr John's son did that
Welcome to "Nexperts" Academy